body {
  background-color: #D4D4D4;
  background-repeat: repeat;
}

a {
  font-weight: bold;
  color: #8A6445;
}

.navbar-main {
  background-color: rgba(255,0,0,0);
}

.navbar-main .navbar-brand {
  color: #7F7F7F;
}

.navbar-main .navbar-brand:hover {
  color: #D9A626;
}

.active-brand {
  color: #D9A626 !important;
}

.navbar-nav > .active > a {
  color: #D9A626;
  border-bottom: 3px solid #8A6445;
  margin-bottom: -3px;
}

.navbar-links > li > a {
  margin-right: 1px;
  color: #7F7F7F;
}

.navbar-links > li > a:hover {
  color: #D9A626;
  background-color: rgba(255,0,0,0);
  border-bottom: 3px solid #8A6445;
  margin-bottom: -3px;
}

.help-alert {
  font-size: 16px;
}

#pictureguide > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-link > a {
  font-weight: bold;
  color: #7F7F7F;
}
