---
---

@import "bootstrap.scss";

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

$primary: #036564;

body {
  background-color: #FFF;
}

#wrapper {
}

a {
  font-weight: bold;
  color: #8A6445;
}

h1 {
  padding-bottom: 2px;
  //border-bottom: 1px solid #8A6445;
}

.nav-container {
  padding-left: 80px;
}

.navbar-main {
  margin-bottom: 0;
 .navbar-brand {
    color: $primary;
    &:hover {
      color: #033649;
    }
  }
}

.active-brand {
  color: $primary !important;
}

.brand-col {
  text-align: right;
}

.navbar-nav > .active > a {
  color: #D9A626;
}

.navbar-links {
  padding: 16px 0 16px 100px;
  li > a {
    margin-right: 20px;
    color: $primary;
    text-decoration: none;
    &:hover {
      //color: #033649;
    }
  }
}

#footer {
  height: 160px;
  margin-bottom: -20px;
  background-color: $primary;
  position: relative;
  bottom: 0;
  color: #FFF;

  .footer-row {
    margin-top: 40px;
    div {
      text-align: center;
      a {
        color: #FFF;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.help-alert {
  font-size: 16px;
}

#pictureguide > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-jumbo {
  background-color: #FFF;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #000;
}

#supported-sites {
  text-align: center;
  h1 {
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }
  button {
    padding-right: 35px;
    padding-left: 35px;
  }
  a, a:hover {
    color: #000;
    text-decoration: none;
  }
}

.logo-image {
  width: 48px;
  height: 48px;
}

.icon-row {
  margin: 5px 14% 25px 14%;
}

.icon-image {
  width: 96px;
  height: 96px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.main-content {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 100%;
}

.navbar-nav {
  margin: 0;
}

.btn-main, .btn-main[disabled] {
  @include button-variant(#FFF, $primary, #000);
}

.btn-install-lg {
  margin-top: 10px;
  padding: 15px 25px 15px 25px;
}

.btn-install-homepage {
  width: 300px;
}

.btn-install-header {
  width: 190px;
}

.btn-install-sm {
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
}

.form-textarea {
  resize: none;
  width: 100%;
}

.guide-image-row {
  @include make-row();

  .guide-thumbnail {
    @include make-sm-column(4);
    img {
      height: 220px;
      width: 100%;
      overflow: hidden;
    }
  }
}
