<!-- Div for requesting sites -->
<div class="blue-banner">
  <div class="centered" id="request-container">      
    <div id="request-form-text" class="main-container-left">
      <h1>Is your favorite site still missing?</h1>
      <h3>Get in touch and we'll add it.</h3>
    </div>
    
    <div class="main-container-right request-form" id="request-form">
      <form role="form">
        <div>
         <input type="text" id="site_url" placeholder="Site URL(s)">
        </div>
        
        <div>
          <input type="text" id="email" placeholder="Your Email (optional)">
        </div>
        
        <div>
          <textarea name="comments" id="comments" placeholder="Additional Comments (optional)"></textarea>
        </div>
        <input type="hidden" id="timestamp" value="">
        <button id="site-submit-button" type="submit">Please Add My Site!</button>
       </form>
    </div>
  </div>
  <div class="centered request-success" id="request-success">
    <h1>Message Received</h1>
    <p>Thanks for your interest, your request has been sent! <a href="contact.html">Contact me</a> with any further questions.</p>
  </div>
</div>
