<!DOCTYPE html>
<html class="no-js">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ site.baseTitle }} {{ page.title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      {% stylesheet main %}
      <link rel="chrome-webstore-item"
          href="https://chrome.google.com/webstore/detail/ekpipjofdicppbepocohdlgenahaneen">

      <link rel="shortcut icon" href="/favicons/favicon.ico">
      <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
      <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    </head>
    <body>
    <div id="wrapper">
      <div class="container nav-container">
        <nav class="navbar navbar-main" role="navigation">

          <!-- Main nav text -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="navbar-main-brand" class="navbar-brand" href="{{ site.navigation.home }}">Streamkeys</a>
          </div>

          <div class="collpase navbar-collapse" id="nav-content">
            <ul class="nav navbar-nav navbar-links list-inline">
              <li id="help"><a href="{{ site.navigation.help }}">Setup Guide</a></li>
              <li id="faq"><a href="{{ site.navigation.faq }}">FAQ</a></li>
              <li id="sites"><a href="{{ site.navigation.sitelist }}">Supported Sites</a></li>
              <li id="contact"><a href="{{ site.navigation.contact }}">Contact</a></li>
            </ul>
            <a href="https://www.github.com/berrberr/streamkeys" target="_blank" class="a-override">
              <button class="btn-main btn-install-header"><i class="fa fa-github-square"></i>&nbsp;&nbsp;View Source</button>
            </a>
            <button class="btn-main btn-install-header btn-install-cta hidden-sm hidden-xs" id="btn-install-header"><i class="fa fa-download"></i>&nbsp;&nbsp;Download for Chrome</button>
          </div>
        </nav>
      </div>

      <div class="main-content">
        {{ content }}
      </div>

      {% include request_modal.html %}

    </div>

    <footer id="footer">
      <div class="container">
        <div class="row footer-row">
          <div class="col-xs-12">
            <a href="{{ site.navigation.home }}">Streamkeys</a>&nbsp;|&nbsp;
            <a href="{{ site.navigation.help }}">Setup Guide</a>&nbsp;|&nbsp;
            <a href="{{ site.navigation.faq }}">FAQ</a>&nbsp;|&nbsp;
            <a href="{{ site.navigation.sitelist }}">Supported Sites</a>&nbsp;|&nbsp;
            <a href="{{ site.navigation.changelog }}">Changelog</a>&nbsp;|&nbsp;
            <a href="{{ site.navigation.contact }}">Contact</a><br><br>

            <a href="https://github.com/berrberr/gshotkeys" target="_blank"><i class="fa fa-github-square"></i> View Source</a>&nbsp;|&nbsp;
            <a href="https://github.com/berrberr/gshotkeys/issues" target="_blank"><i class="fa fa-github-square"></i> Issue Tracker</a>&nbsp;|&nbsp;
            <a href="mailto:alex@aegabriel.com">alex@aegabriel.com</a>

          </div>
        </div>
      </div> <!-- /container -->
    </footer>

    {% javascript main %}

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45141647-1', 'streamkeys.com');
      ga('send', 'pageview');
    </script>
    </body>
</html>
