---
layout: default
title: Streamkeys - Global Music Player Hotkeys for Chrome
---

<div class="main-jumbo">
  <div class="row">
    <div class="col-xs-6">
      <h1>Global hotkeys for your favourite music players</h1>
      <h3>...control players from anywhere on your computer</h3>
      <p>
        <button type="button" class="btn-main btn-install-lg btn-install-homepage btn-install-cta">
          <i class="fa fa-download"></i>&nbsp;&nbsp;Download for Chrome
        </button>
      </p>
    </div>
    <div class="col-xs-6">
      <img src="img/mbp-demo.png" alt="Streamkeys Demo" class="img-responsive">
    </div>
  </div>
</div>

<div class="main-jumbo" id="supported-sites">
  <h1>Works With</h1>
  <p><button type="button" id="btn-req" class="btn-main btn-install-lg" data-toggle="modal" data-target="#requestModal">Is there a site missing? Request a site to be added here.</button></p>
  <div class="row icon-row">
    {% for _site in site.sitelist %}
      {% if _site.image %}
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="http://{{ _site.url }}" target="_blank">
            <img src="{{ _site.image }}" alt="{{ _site.name }}" class="icon-image">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <h4><a href="sites.html"><em>...and more. See the full sitelist.</em></a></h4>
</div>

