---
layout: default
title: Supported Sites
---

<!-- Div for list of sites -->
<div class="site-list centered">
  <h1>Works with more than 50 sites</h1>
  <table>
    {% assign sorted_sites = site.sitelist | sort_normalize(site.sitelist, "name") %}
    {% tablerow _site in sorted_sites cols:5 %}
      <a href="http://{{ _site.url }}" target="_blank">
        {% if _site.image %}
          <img src="{{ _site.image | asset_path }}" alt="{{ _site.name }}"></div>
        {% else %}
          <img src="{{ "icons/not-found.png" | asset_path }}" alt="{{ _site.name }}"></div>
        {% endif %}
      </a>
      <p>{{ _site.name }}</p>
    {% endtablerow %}
  </table>
</div>

<hr width="100%" color="#e8e8e8" height="2px"/>
{% include request_form.html %}
