//= require vendor/bootstrap
//= require vendor/ekko-lightbox

@import "vendor/bootstrap";

$primary: #77A3C7;
$primary-faded: #5B9B9A;
$footer-height: 140px;

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* General rules to modify browser default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 15px 0 15px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  margin: 15px 0 40px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #8B8989;
}

a:visited {
  color: #8B8989;
}

hr {
  padding: 0;
  margin: 0;
  height: 2px;
}

/* Class to keep content centered and within 960px */

.centered {
  margin: 0px auto;
  width: 980px;
  min-width: 980px;
  padding: 0 10px 0 10px;
}


/* Styles for header elements */

header ul {
  margin: 25px 0px 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  list-style-type: none;
  text-align: right;
}

header li {
  display: inline;
  padding-left: 15px;
}

header li a:hover {
  border-top: 2px solid #3A539B;
  padding-top: 8px;
}

#logo li{
  display: inline;
  float: left;
  font-size: 22px;
  font-weight: 800;
}

#logo li a {
  color: #2574A9;
}

#logo li a:hover {
  border-top: 2px solid #3A539B;
  border-bottom: 2px solid #3A539B;
  padding: 8px 0;
  transition: all .25s linear;
}

/* Class to apply blue background to div elements */

.blue-banner {
  background-color: #2880C7;
  padding: 60px 0 70px 0;
  min-width: 1000px;
}

.blue-banner-svg {
  background-color: #2880C7;
  padding: 0 0 25px 0;
  min-width: 1000px;
}

/* Styles for two column content and main/hero content of home page */

.main-container-left {
  width: 48%;
  display: inline-block;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 0 0 20px;
}

.main-container-right{
  padding: 0 0 0 10px;
  width: 48%;
  display: inline-block;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
}

.main-container-left h1, h3{  
  color: #eee;
}

#download-button {
  padding: 15px;
  border: 1px solid #EEE;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #EEE;
  background-color: #19486A;
  border-radius: 5px;
  width: 80%;
}

#download-button:hover, #download-button:disabled {
  background-color: #EEE;
  color: #19486A;
  transition-duration: 0.4s;
}

.install-error {
  margin-top: 40px;
  padding: 15px;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  color: #EEE;
  background-color: #19486A;
  font-size: 24px;
  font-weight: 100;
  display: none;
}

object {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 100%;
}

svg {
  width: 100%;
  height: 475px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Styles for list of sites */

.site-list {
  margin-bottom: 50px;
}

.site-list h1{
  margin: 50px 0;
  text-align: center;
  font-weight: 200;
}

.site-list h2{
  margin: 5px 0 50px 0;
  padding-right: 350px;
  text-align: right;
}

.site-list h2 a:hover{
  border-bottom: 2px dotted #000;
}

td {
  width: 192px;
  height: 200px;
  text-align: center;
}
td img {
  border: 2px solid transparent;
  border-radius: 25px;
}

td p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  padding-top: 10px;
  color: #8B8989;
}

.site-list a:hover{
  -webkit-filter: grayscale(1);
  transition-duration: 0.25s;
}


/* Styles for request form */

.request-form input {
  height: 40px;
  width: 400px;
  margin: 10px 0;
  padding-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  border: 2px solid #FFF;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.request-form input.input-error {
  border: 2px solid red;
}

.request-form textarea{
  height: 100px;
  width: 400px;
  margin: 10px 0;
  padding: 10px 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  border: 2px solid #FFF;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.request-form input:focus, textarea:focus {
  box-shadow: 0 0 10px #22313F;
}

#site-submit-button {
  margin: 20px 0 0 0;
  padding: 15px;
  border: 1px solid #eee;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #eee;
  background-color: #19486a;
  border-radius: 5px;
}

#site-submit-button:hover {
  background-color: #eee;
  color: #19486a;
  transition-duration: 0.4s;
}

.request-success {
  display: none;
  font-size: 26px;
  font-weight: 150;
  letter-spacing: 2px;
  padding: 25px;
  color: #FFFFFF;
  h1 {
    font-weight: 200;
  }
  a {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

/* Styles for footer */

footer {
  text-align: center;
  margin: 20px 0;
}

footer ul {
  margin: 50px 0;
}

footer li {
  display: inline;
  list-style-type: none;
  padding: 20px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #000;
}

footer a:hover {
  padding-bottom: 2px;
  border-bottom: 1px dotted #8B8989;
}


/*********************************
**********************************
********* FAQ page ***************
********************************** */


.faq {
  margin-bottom: 50px;
}

.faq h1 {
  font-weight: 200;
}

.faq h1, h2{
  padding: 25px 200px 10px 10px;
}

.faq p {
  padding: 0 200px 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.5;
}


/*********************************
**********************************
********* Contact Page ***********
********************************** */


.contact {
  margin-bottom: 50px;
}

.contact h1{
  padding: 25px 20px 20px 10px;
  font-weight: 200;

}

.contact p {
  padding: 0 20px 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.5;
}


/*********************************
**********************************
********* Guide Page *************
********************************** */

.guide h1 {
  font-weight: 200;
}

.gudie ul li{
  list-style-type: none; 
}

.guide h1, h2{
  padding: 25px 200px 10px 10px;
}

.guide p, h4 {
  padding: 0 200px 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.5;
}

.guide h4 {
  font-weight: bold;
}

#hotkeys{
  margin-bottom: 50px;
}

#hotkeys li{
  list-style-type: none;
}

.centered-row {
  text-align: center;
}

.image-container {
  border-radius: 5px;
  border: 5px solid transparent;
  display: inline-block;
  height: 320px;
  margin: 20px 0 20px 20px;
  text-align: center;
  width: 30%;
  vertical-align: bottom;

  &.image-container-col-2 {
    width: 40%;
  }

  a {
    height: 230px;

    #popup-step-2 {
      margin-top: 30px;
    }
    
    #extension-step-2 {
      margin-top: 24px;
    }
  }
}

.image-container img {
  padding: 10px 10px;
  max-width: 90%;
  max-height: 220px;
}

.image-container hover {
  border: 5px solid #2880C7;
}

.image-container p{
  padding: 10px 0;
  width: 90%;
  height: auto;
}

/*********************************
**********************************
********* Changelog page *************
********************************** */

.list-group h1 {
  font-weight: 200;
}

.list-group {
  list-style-type: none;
}

.list-group h3 {
  padding-left: 20px;
  color: #000;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

.list-group p {
  padding-left: 30px;
}

.version-banner {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*********************************
**********************************
********* New version box ********
********************************** */
.new-version-alert {
  color: #FFF;
  border: none;

  a, a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }

  h1 {
    font-size: 3em;
    margin-top: 0;
    font-weight: bold;
    margin: 0 0 30px 0;
  }
  h2 {
    font-size: 2em;
    padding: 5px 0 5px 0;
  }

  ul {
    @extend .list-group;
    li {
      @extend .list-group-item;
      background-color: $primary;
      font-size: 1.2em;
      h2 {
        margin-top: 5px;
      }
      p {
        font-size: 1.4em;
      }
    }
  }
}


/*********************************
**********************************
********* Donate page ************
********************************** */
.donate-form {
  text-align: center;
}
